.board {

  max-height: 100vh;
  min-height: 100vh;
  overflow-y: hidden;
  padding: 0 10px;

  .column {
    max-height: 100vh;
    overflow-y: auto;
    //scrollbar-gutter: stable both-edges;
    border: 1px solid black;

    h2 {
      position: sticky;
      top: 0;
    }

  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 0;

    .column {

      flex: 1;
      &:not(.selected) {
        overflow: hidden;
        flex: 0 0 50px;

        ul {
          display: none;
        }
      }
    }
  }

}

