.board-container {

  max-height: 100vh;
  display: flex;
  flex-direction: column;

  .board-toolbar {
    padding: 1rem;
  }
}

.board {

  flex: 1;
  overflow-y: hidden;
  border: 1px solid black;
  &.focused {
    .column.selected {
      flex-grow: 1;
    }

    ul {
      position: relative;

      .item {
        &:not(:first-child) {
          display: none;
        }

        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(50%);
        width: 100%;

      }
    }

  }


  .column {
    padding: 10px;

    &:focus-within {
      background-color: var(--primary-focus);

      &::-webkit-scrollbar {
        background-color: var(--primary-focus);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--primary);
      }
    }
    flex: 1;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    border: 1px solid black;

    h2 {
      position: sticky;
      top: 0;
    }

  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;

    .column {
      //
      //flex: 1;
      &:not(.selected) {
        overflow: hidden;
        flex: 0 0 50px;

        ul {
          display: none;
        }
      }
    }
  }

}

